@model Student_Enrollment.Models.StudentViewModel


@Html.DisplayNameFor(Model => Model.students[0].ID)
@Html.DisplayNameFor(Model => Model.students[0].FirstName)
@Html.DisplayNameFor(Model => Model.students[0].LastName)
@Html.DisplayNameFor(Model => Model.students[0].Course)

@foreach (var prop in Model.students)

{

    @Html.DisplayFor(modelItem => prop.FirstName)
    @Html.DisplayFor(modelItem => prop.LastName)
    @Html.DisplayFor(modelItem => prop.Course)



}

<a asp-action="Index">Back</a>