@model Student_Enrollment.Models.CourseViewModel

<h2>Course</h2>

<p> <a asp-action="Create"> Create a new Course</a></p>

<form asp-controller="Course" asp-action="Index" method="get">
    <p>
        <select asp-for="CourseName" asp-items="Model.name">
            <option value=""> All </option>
        </select>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table>
    @Html.DisplayNameFor(Model => Model.courses[0].Name)
    @Html.DisplayNameFor(Model => Model.courses[0].Level)
    @Html.DisplayNameFor(Model => Model.courses[0].Instructor)

</table>


    @foreach (var prop in Model.courses)
    {
  <table>

        @Html.DisplayFor(ModelItem => prop.Name)
        @Html.DisplayFor(ModelItem => prop.Level)
        @Html.DisplayFor(ModelItem => prop.Instructor)

  </table>
        <a asp-action="Enrolled" asp-route-id="@prop.ID">View Students</a>
        <a asp-action="Edit" asp-route-id="@prop.ID">View Students</a>
        <a asp-action="Details" asp-route-id="@prop.ID">View Students</a>
        <a asp-action="Delete" asp-route-id="@prop.ID">View Students</a>

    }

<a asp-action="Index">Back</a>